.select_handle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    .textarea {
    	margin-top: 3rem;
        width: 60rem;
        height: 12.3rem;
        overflow-x: hidden;
        overflow-y: auto;
        outline: none;//去掉获得焦点时的蓝边框
    }

    .upload_pic {
        width: 19rem;
        height: 19rem;
        display: flex;
        
    }
}

