<!DOCTYPE html>
<html lang="en" xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Journey</title>
</head>
<body>
<article id="root"></article>
<script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=2854977325&debug=true&forcelogin=true" type="text/javascript" charset="utf-8"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?f1b71b510af1dd71f047804a4ced253e";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</body>
</html>