.setting {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    .paper {
        padding: 1rem;
        flex-basis: 80%;

        h1 {
            padding: .5rem;
        }
        ul {
             display: flex;
            flex-direction: column;
            li {
                padding: .5rem;
                &.save {
                align-self: flex-end;
            }
            }
           
        }
        
    }
}