.time_axis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    article {
        flex: 0 1 80%;
        display: flex;
        section {
            padding-left: 1%;
            margin-left: 1%;
            padding-bottom: 50px;
            border-left: 1px solid black;
            flex: 0 1 70%;
            .upload_pic {
                width: 100%;
                display: flex;
                flex-wrap: wrap;//默认不换行,设置这个自动换行
                li {
                    flex-basis: 33.3%;
                    padding-bottom: 33.3%;
                    //height: 33.3%;
                    background-repeat: no-repeat;
                    background-position: top center;
                    background-size: cover;
                }
            }
        }
       /* &:last-child {
            section {
                padding-bottom: 0;
            }
        }*/
    }
}